.vi {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: calc(100vw - 48px);
    overflow: hidden;
}

.courseId {
    min-width: 107px;
    width: 1vw;
}

.playlistId {
    min-width: 180px;
    width: 1vw;
}

.name {
    min-width: 120px;
    width: 7vw;
    overflow: hidden;
    cursor: pointer;
    color: aqua;
}

.url {
    min-width: 101px;
    width: 7vw;
    overflow: hidden;
}

.lvl {
    min-width: 99px;
    width: 1vw;
}

.tags {
    min-width: 110px;
    width: 7vw;
    overflow: hidden;
}

.date {
    min-width: 139px;
    width: 1vw;
    overflow: hidden;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    min-width: 110px;
    width: 9vw;
    overflow: hidden;
}
